@import url('https://fonts.googleapis.com/css?family=Roboto:300');

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.search {
  position: relative;
  margin: 5px auto;
  width: 50%;
}
.searchList {
  position: relative;
  margin: 5px auto;
  width: 50%;
  margin-top: 2rem;
}
.searchListing {
  list-style-type: none;
  padding: 0;
}

.searchListing li {
  background: rgb(241, 237, 237);
  padding: 0.5em 0.7em;
  cursor: pointer;
  margin-top: 0.3em;
}
.searchListing li:hover {
  background: rgb(156, 150, 150);
}

.card {
  padding: 5px;
}

.stats {
  padding: 0.3em 0.5em;
  margin-bottom: 0.3em;
  border: 0;
  background: rgb(235, 233, 233);
  cursor: pointer;
}

.stats:hover {
  background: rgb(223, 221, 221);
}

.table td {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  width: 25%;
  line-height: 30px;
}

.table-key {
  display: inline-block;
  font-weight: 600;
}
.table-value {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.blog {
  padding: 3px 7px;
  background: rgb(21, 161, 21);
  border-radius: 3px;
  color: white;
}

.blog-link {
  color: black;
}

.pagination > li > a {
  color: blue;
}
.pagination > li > a:hover {
  color: rgb(51, 51, 95);
}

@media screen and (max-width: 991px) {
  .table td {
    width: 35%;
  }
}
